<nav>
    <h1><a href="{{ path('app_home') }}">Find My Dream Home</a></h1>
    <ul>
        <li><a href="{{ path('app_login_controlle') }}">Login</a></li>
        <li><a href="{{ path('app_houses_list') }}">House</a></li>
        <li><a href="{{ path('app_apartments_list') }}">Appartement</a></li>
        <div class="add-btn"><a href="{{ path('app_add_announcement') }}">Add +</a></div>
    </ul>
</nav>
